  <div class="container mt-2">
    <div class="row">
      <div class=" col-md-6">
        <div class="container">
          <div class="row">
          </div>
          <div class=" col-md-12 card text-justify font-small p-3 animated fadeInDown ">
            <p class="h3">Información</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>

          <div class=" col-md-12 card text-justify font-small p-3 mt-2 animated fadeInDown">
            <p class="h3">Información</p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="card align-items-center">
          <img class="animated fadeInDown" src="https://via.placeholder.com/300/09f/fff.pngC/O https://placeholder.com/" class="card-img-top p-3" alt="" style=" width: 30rem">
        </div>
      </div>

      <div class="card-deck mt-2">
        <div class="card p-2">
          <div class="card-head text-center mt-3">
            <i class="fas fa-building fa-2x"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Empresas</h5>
            <p class="card-text">Módulo de control de empresas</p>
            <a href="empresas.html">Ir al módulo</a>
          </div>
        </div>
        <div class="card p-2">
          <div class="card-head text-center mt-3">
            <i class="fas fa-address-book fa-2x"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Asesores Empresariales</h5>
            <p class="card-text">Módulo de control de asesores empresariales</p>
            <a href="asesor-empresarial.html">Ir al módulo</a>
          </div>
        </div>
        <div class="card p-2">
          <div class="card-head text-center mt-3">
            <i class="fas fa-tasks fa-2x"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Proyectos</h5>
            <p class="card-text">Módulo de control de proyectos</p>
            <a href="proyectos.html">Ir al módulo</a>
          </div>
        </div>
        <div class="card p-2">
          <div class="card-head text-center mt-3">
            <i class="fas fa-file fa-2x"></i>
          </div>
          <div class="card-body">
            <h5 class="card-title">Documentos</h5>
            <p class="card-text">Módulo de control de documentos</p>
            <a href="documentos.html">Ir al módulo</a>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="jumbotron text-justify mt-3 col-md-12 animated bounce">
        <p class="display-4">¿Quiénes somos?</p>
        <p class="font-small ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

      </div>
    </div>

    <div class="container mt-5">
      <div class="row vcenter">
        <div class="col-md-6 jumbotron animated bounce">

          <h2>Contáctanos</h2>
          <form class="" action="index.html" method="post">
            <div class="form-group">
              <input type="text" name="" value="" class="form-control shadow" placeholder="Nombre">
            </div>
            <div class="form-group">
              <input type="text" name="" value="" class="form-control shadow" placeholder="Asunto">
            </div>
            <div class="form-group">
              <textarea name="name" rows="2" cols="80" class="form-control shadow" placeholder="Mensaje"></textarea>
            </div>
            <button type="button" name="button" class="btn btn-primary btn-block">Enviar comentario</button>
          </form>
        </div>

        <div class="col-md-6">
          <iframe style="height: 325px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14894.594530462755!2d-86.84713055!3d21.0467406!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4e81c385c4677f%3A0x539479cfc0929edb!2sUniversidad+Tecnologica+de+Canc%C3%BAn!5e0!3m2!1ses-419!2smx!4v1553304197895" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <h2 class=" text- mt-5">Texto a definir</h2>
        </div>

      </div>
    </div>